@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
		font-family: 'PT Root UI';
		font-weight: 400;
		src: url('/fonts/pt-root-ui_regular.woff2');
	}
    @font-face {
        font-family: 'PT Root UI';
        font-weight: 500;
        src: url('/fonts/pt-root-ui_medium.woff2');
    }
	.menu-item:hover {
		text-decoration: underline;
		text-decoration-thickness: 0.5px;
		text-underline-offset: 4px;
		text-decoration-color: #7C3C9A;
	}
}

/* Hamburger Menu */
.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25s;
	position: relative;
  }
  
  .hamburger-top,
  .hamburger-bottom {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 2px;
	background: #fff;
	transform: rotate(0);
	transition: all 0.5s;
  }
  
  .hamburger-bottom {
	transform: translateY(7px);
  }
  
  .open {
	transform: rotate(90deg);
	transform: translateY(0px);
  }
  
  .open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translate(-6px);
  }